<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tu Privacidad
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="margin: 8px">
  <div id="content" style="margin: 12px">

    <ion-card-title>1. Introducción</ion-card-title>
    <ion-card-subtitle>NURY S.A.S., con el propósito de cumplir de forma estricta las normativas vigentes de protección de Datos Personales y privacidad, y conforme a lo estipulado en la Ley 1581 del 2012, Decreto 1074 de 2015 y las demás resoluciones que las modifiquen o complementen, presenta la POLÍTICA DE PROTECCIÓN Y TRATAMIENTO DE DATOS PERSONALES (en adelante “Política de Tratamiento”) con el objetivo de amparar y respaldar la información personal proporcionada por los Titulares que mantengan correlación o vínculo con NURY S.A.S. como lo son socios, los proveedores, los clientes, los empleados, los colaboradores y alguna otra persona natural de la cual NURY S.A.S., reciba, acumule, procese o trate datos personales, independientemente de que este tratamiento de datos sea efectuado por NURY S.A.S. o por terceros que lo efectúen por pedido de esta.

      Esta política de tratamiento tiene como objetivo salvaguardar el derecho que constitucionalmente, tienen todas las personas para comprender, renovar, actualizar y corregir toda la información que se previamente se haya recolectado en las diferentes fuentes de información de NURY S.A.S., y a consecuencia de cumplir y respetar dicho derecho sólo recoge y da Tratamiento a Datos Personales, cuando el Titular lo haya autorizado con anterioridad, poniendo en práctica para tal efecto, prácticas claras sobre la privacidad de los Datos Personales. Del mismo modo, precisa los lineamientos generales corporativos que se deben tener en cuenta con el objetivo de salvaguardar los Datos Personales de los Titulares, los propósitos de Tratamiento de la información, el área encargada de dar proceso a las quejas y reclamos, y los procedimientos que se deban adoptar para estar al tanto, sustituir, corregir y eliminar la información y los canales para que estos sean ejercidos.</ion-card-subtitle>

    <ion-card-title>2. Definiciones</ion-card-title>
    <h>-Datos personales
      <ion-card-subtitle>
        Es toda la información referente o asociada a las personas naturales.
      </ion-card-subtitle>
    </h>
    <h>-Titular de los datos personales
      <ion-card-subtitle>
        Persona natural cuyos datos pueden ser materia de tratamiento. Para el entorno de la política de tratamiento de datos personales mostrada en este documento, los titulares pueden ser: (i) suscriptores/Clientes de la plataforma Nury; (ii) proveedores (iii) todas las  personas no suscritas a NURY S.A.S. de quien se ejecute o pueda ejecutar tratamiento de datos personales.
      </ion-card-subtitle>
    </h>
    <h>-Base de datos personales
      <ion-card-subtitle>
        Totalidad de datos personales que son materia de tratamiento de datos por parte de una persona natural o jurídica.
      </ion-card-subtitle>
    </h>
    <h>-Datos Sensibles
      <ion-card-subtitle>
        Son los datos personales que afectan la privacidad del Titular y cuyo uso inadecuado puede causar segregación. Se consideran datos sensibles los datos referentes a la salud, orientación sexual o de género, raza y etnia, inclinaciones políticas, creencias religiosas, éticas o morales.
      </ion-card-subtitle>
    </h>
    <h>-Datos Privados
      <ion-card-subtitle>
        Son los datos personales que por ser privados o particulares, son significativos para el Titular.
      </ion-card-subtitle>
    </h>
    <h>-Datos Semiprivados
      <ion-card-subtitle>
        Son aquellos datos personales sabidos públicamente y de interés tanto para el titular como para un sector de personas específico o para la sociedad en general, por lo cual no son de netamente privados o públicos.
      </ion-card-subtitle>
    </h>
    <h>-Datos Públicos
      <ion-card-subtitle>
        Son los datos personales cualificados como público según la Constitución política y las leyes, y que no se han determinado como datos personales privados o semiprivados.
      </ion-card-subtitle>
    </h>
    <h>-Habeas Data
      <ion-card-subtitle>
        Se trata de un derecho que tienen los Titulares de los datos personales a exigir a las administradoras de los datos el acceso, la inclusión, la eliminación, la rectificación, la agregación y actualización  de datos, así como limitar su divulgación o publicación.
      </ion-card-subtitle>
    </h>
    <h>-Autorización
      <ion-card-subtitle>
        Es la aprobación previa, ya sea expresa o informada del Titular para ejecutar el proceso de tratamiento de datos personales.
      </ion-card-subtitle>
    </h>
    <h>-Aviso de privacidad
      <ion-card-subtitle>
        Es la notificación verbal o escrita, que está dirigida al Titular de los datos personales que son materia de tratamiento por parte de la empresa, en la cual se notifica que existen las políticas de tratamiento de datos personales que serán aplicadas según corresponda, el método de conseguirlas, y el objetivo para el cual serán utilizados sus datos personales.
      </ion-card-subtitle>
    </h>
    <h>-Responsable del tratamiento de Datos
      <ion-card-subtitle>
        Es la persona natural o jurídica de naturaleza pública o privada que por sí misma o en sociedad con otro u otros dictamina sobre el tratamiento de los datos personales. Para el caso presente, es NURY S.A.S. quien se responsabiliza del tratamiento de datos personales.
      </ion-card-subtitle>
    </h>
    <h>-Encargado del tratamiento
      <ion-card-subtitle>
        Son las Personas naturales o jurídicas, de índole público o privado que por sí misma o en sociedad con otro u otros, ejecuta el respectivo tratamiento de datos personales a causa del responsable del tratamiento de datos.
      </ion-card-subtitle>
    </h>
    <h>-Tratamiento
      <ion-card-subtitle>
        Es alguna acción o conjunto de acciones sobre los datos personales, que puede ser la recopilación, la acumulación, el uso, la circulación o la eliminación.
      </ion-card-subtitle>
    </h>
    <h>-Transmisión
      <ion-card-subtitle>
        Es el Tratamiento de Datos Personales referente a la transmisión a un tercero de dichos datos, puede ser dentro o fuera de Colombia, cuando esta transmisión tenga como objetivo la ejecución del Tratamiento por el delegado en representación del responsable, para dar cumplimiento a las finalidades de este último.
      </ion-card-subtitle>
    </h>
    <h>-Transferencia
      <ion-card-subtitle>
        Es el proceso de envío de información o datos personales a un receptor por parte del responsable y/o encargado del tratamiento de datos personales, que a su vez es responsable del tratamiento y se encuentra dentro o fuera del país.
      </ion-card-subtitle>
    </h>
    <h>-Violación de datos personales
      <ion-card-subtitle>
        Es un delito que está contemplado en el artículo 269 del Código Penal de Colombia. En el cual se establece que: “El que, sin estar facultado para ello, con provecho propio o de un tercero, obtenga, compile, sustraiga, ofrezca, venda, intercambie, envíe, compre, intercepte, divulgue, modifique o emplee códigos personales, datos personales contenidos en ficheros, archivos, bases de datos o medios semejantes, incurrirá en pena de prisión de cuarenta y ocho (48) a noventa y seis (96) meses y en multa de 100 a 1000 salarios mínimos legales mensuales vigentes.”
      </ion-card-subtitle>
    </h>

    <ion-card-title>3. Fundamento para el tratamiento de datos personales</ion-card-title>
    <ion-card-subtitle>Según lo que se establece en el Título II de la Ley Estatutaria 1581 de 2012, la protección de datos personales se dirigirá aplicando de forma integral los siguientes principios:</ion-card-subtitle>

    <h>-Principio de legalidad y transparencia en el tratamiento de datos personales
      <ion-card-subtitle>
        El tratamiento de los datos personales al que se refiere la Ley Estatutaria 1581 de 2012 es una acción regulada que se debe sujetar a lo ordenado en ella y en las demás disposiciones que la
      </ion-card-subtitle>
    </h>
    <h>-Principio de finalidad
      <ion-card-subtitle>
        El tratamiento de los datos personales debe acatar un propósito legítimo en conformidad con la Constitución política y la ley, la cual se debe informar al Titular.
      </ion-card-subtitle>
    </h>
    <h>-Principio de libertad
      <ion-card-subtitle>
        El tratamiento de los datos personales sólo puede realizarse con la aprobación previa  e informada del Titular. Dichos datos personales no pueden ser adquiridos o difundidos sin la previa aprobación.
      </ion-card-subtitle>
    </h>
    <h>-Principio de veracidad y/o calidad
      <ion-card-subtitle>
        La información objeto de tratamiento deberá ser veraz, integra, adecuada, actualizada, verificable y entendible. Se debe privar el Tratamiento de datos parciales, incompletos, o que generen un error.
      </ion-card-subtitle>
    </h>
    <h>-Principio de transparencia
      <ion-card-subtitle>
        En el Tratamiento de los datos personales se debe garantizar el derecho que el Titular tiene a recibir del Responsable del tratamiento o del Encargado del tratamiento, en el momento que decida y sin ningún tipo de restricción, toda la información referente a la existencia de datos que le incumban.
      </ion-card-subtitle>
    </h>
    <h>-Principio de seguridad
      <ion-card-subtitle>
        La información objeto de tratamiento por el Responsable o el Encargado del mismo a que se refiere la Ley Estatutaria 1581 de 2012, se deberá ejecutar con las respectivas medidas técnicas, humanas y administrativas que sean imperiosas para dar seguridad a los registros previniendo que esta sea adulterada, extraviada, consultada, de uso o acceso sin autorización o fraudulenta.
      </ion-card-subtitle>
    </h>
    <h>-Principio de confidencialidad
      <ion-card-subtitle>
        Todas aquellas personas que participen del tratamiento de datos personales que no tengan naturaleza pública están obligadas a velar por la reserva de la información, incluso después de la finalización de la relación con alguna de las labores que concierne al tratamiento, realizando el suministro o la comunicación de datos personales cuando ello concierna al desarrollo de las actividades que autoriza la Ley Estatutaria 1581 de 2012 y en los términos de esta.
      </ion-card-subtitle>
    </h>
    <h>-Principio de acceso y circulación restringida
      <ion-card-subtitle>
        El tratamiento está sujeto a los límites que se derivan de la procedencia de los datos personales, de la disposición de la Ley Estatutaria 1581 de 2012 y la Constitución. En ese orden de ideas, el tratamiento únicamente puede ejecutarse por personas autorizadas por el Titular y/o por las personas mencionadas en la ley en mención.
      </ion-card-subtitle>
    </h>

    <ion-card-title>4. Derechos que poseen los titulares</ion-card-title>
    <ion-card-subtitle>Cumpliendo las garantías fundamentales dictaminadas en la Constitución política de Colombia y en la ley, y sin detrimento a lo ordenado en las demás normas que regulan la acción de Nury, los Titulares de los datos personales podrán ejercer los siguientes derechos:</ion-card-subtitle>
    <h>-Derecho a acceder
      <ion-card-subtitle>
        a la información personal materia de tratamiento.
      </ion-card-subtitle>
    </h>
    <h>-Derecho a la actualización
      <ion-card-subtitle>
        de todos los datos.
      </ion-card-subtitle>
    </h>
    <h>-Derecho a la corrección
      <ion-card-subtitle>
        de todos los datos personales materia de tratamiento.
      </ion-card-subtitle>
    </h>
    <h>-Derecho a la oposición
      <ion-card-subtitle>
        de que los datos personales sean materia de tratamiento.
      </ion-card-subtitle>
    </h>
    <h>-Derecho a solicitar la eliminación
      <ion-card-subtitle>
        de los datos personales cuando el proceso de tratamiento no respete los principios, los derechos y las garantías constitucionales y legales.
      </ion-card-subtitle>
    </h>
    <h>-Derecho a solicitar prueba
      <ion-card-subtitle>
        de la autorización dada para ejercer para el tratamiento de los datos.
      </ion-card-subtitle>
    </h>
    <h>-Derecho a anular la aprobación
      <ion-card-subtitle>
        del tratamiento de los datos personales.
      </ion-card-subtitle>
    </h>
    <h>-Derecho a presentar quejas o reclamos
      <ion-card-subtitle>
        ante la Superintendencia de Industria y Comercio por transgresiones a lo demandado en la Ley Estatutaria 1581 de 2012 y las demás normas que la cambien o complementen.
      </ion-card-subtitle>
    </h>
    <h>-Derecho a recibir información
      <ion-card-subtitle>
        dada por el Responsable y/o Encargado del uso y el tratamiento que se les hará a los datos personales, así como de los cambios y actualizaciones sobre las políticas de protección y finalidades.
      </ion-card-subtitle>
    </h>
    <ion-card-title>5. Vigencia</ion-card-title>
    <ion-card-subtitle>La Política de tratamiento de datos mostrada en este documento entrará en vigor a partir del día 10 del mes de junio de 2021.

      Todos los datos personales que se almacenen, utilicen o transmitan deberán permanecer en las bases de datos de NURY S.A.S. durante el tiempo que sea necesario para dar cumplimiento a los fines expuestos en el presente manual o para que la entidad pueda dar cumplimiento a sus obligaciones legales.x</ion-card-subtitle>

  </div>

</ion-content>
