<ion-header>
  <ion-toolbar>
    <ion-title>¿Deseas agregar otro servicio?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{services.suture.tittle}}</ion-label>
      <ion-checkbox checked="{{services.suture.checked}}" disabled="{{services.suture.disabled}}" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="{{services.injection.checked}}" disabled="{{services.injection.disabled}}" slot="start"></ion-checkbox>
      <ion-label>{{services.injection.tittle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" checked="{{services.canalization.checked}}" disabled="{{services.canalization.disabled}}"></ion-checkbox>
      <ion-label>{{services.canalization.tittle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" checked="{{services.accompaniment.checked}}" disabled="{{services.accompaniment.disabled}}"></ion-checkbox>
      <ion-label>{{services.accompaniment.tittle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="{{services.personalHygiene.checked}}" disabled="{{services.personalHygiene.disabled}}" slot="start"></ion-checkbox>
      <ion-label>{{services.personalHygiene.tittle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" checked="{{services.nebulization.checked}}" disabled="{{services.nebulization.disabled}}"></ion-checkbox>
      <ion-label>{{services.nebulization.tittle}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="confirmation()">Confirmar Servicio</ion-button>
</ion-content>
